<!DOCTYPE html>
<html lang="en">

<head>
  <title>Articles</title>
  <meta charset="UTF-8">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
</head>
<div class="container">

  <h1 class="jumbotron"> New York Times Articles </h1>
  {{#each dbArticle}}
  <div class="page-header">
    <h1>
      <small>{{this.heading}}</small>
    </h1>
  </div>

  <br>
  <p> {{this.summary}} </p>
  <br>
  <a href=""> Link: {{this.link}}</a>
  <br>
  <br>
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <span class="input-group-btn">
         <button id="savenote" data-id="{{this.id}}" class="btn btn-default" type="button">Submit!</button>
        </span>
        <input id="Notes"type="text" class="form-control" placeholder="Leave comment...">

      </div>
      <!-- /input-group -->
      {{#each this.Notes}}
        <p>Comments: {{this.body}}</p>
      {{/each}}
    </div>
    <!-- /.col-lg-6 -->
    {{/each}}
    
  </div>

</html>